<div class="logo-img">
  <img title="Treattle-Logo" src="/assets/img/Treattle-Logo-NoBG.png" />
</div>
<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
      <h1>Create Account</h1>
      <input
        name="firstName"
        type="text"
        placeholder="First Name"
        [(ngModel)]="model.firstName"
      />
      <input
        name="lastName"
        type="text"
        placeholder="Last Name"
        [(ngModel)]="model.lastName"
      />
      <input
        name="email"
        type="email"
        placeholder="Email Address"
        [(ngModel)]="model.email"
      />
      <input
        name="username"
        type="text"
        placeholder="Username"
        [(ngModel)]="model.username"
      />
      <input
        name="password"
        type="password"
        placeholder="Password"
        [(ngModel)]="model.password"
      />
      <button color="primary" type="submit">Sign Up</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form #loginForm="ngForm" (ngSubmit)="onLogin()" autocomplete="off">
      <h1>Sign in</h1>
      <input
        name="username"
        [(ngModel)]="model.username"
        type="text"
        placeholder="Username"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        type="password"
        placeholder="Password"
      />
      <a href="#">Forgot your password?</a>
      <button color="primary" type="submit">Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn" (click)="signin_click()">
          Sign In
        </button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello there!</h1>
        <p>Enter your personal details and start shopping with us</p>
        <button class="ghost" id="signUp" (click)="signup_click()">
          Sign Up
        </button>
      </div>
    </div>
  </div>
</div>

<footer>
  <p>© Walhalla Digital Solutions | 2023</p>
</footer>
